
.f-category {
    border: 1px solid #f1f1f1;
    
}
p{
font-size: 14px;
color: #6b6969;
line-height: 26px;
font-family: rubik,sans-serif;
margin-bottom: 0;

}
.f-category h3 {
    font-size: 18px;
   
    padding: 20px
    line-height: 32px;
    transition: all 0.3s linear;
    font-weight: 700;
    font-family: Comic Sans MS, sans-serif;
}
.f-category h3:hover{
color: #26ae61;
/* background-color: #26ae61; */
}
.category -btn:hover{
    color: aqua;
}
.f-category p{
    color:cornsilk
}
.f-category:hover .icon{
    transform: scale(1.1);
}
.category .f-category:hover{
    transform: scale(1.1);
}
.section-header .section-title {
    font-size: 30px;
    margin-bottom: 0;
    font-family: rubik,sans-serif;
    font-weight: 700;
    color: #333;
    position: relative;
}
.justify-content-center {
    justify-content: center!important;
}
.cs {
    margin-left: 130px;
    margin-right: 180px;
}
.app{
    background-color: #f9fcff;
}

.icons{
   font-size: 48px;
    color: #26ae61;
    display: inline-block;
    margin-bottom: 10px;
    margin-left:50px  !important;
    
    
}
.img-thumb {
    float: left;
    overflow: hidden;
    position: relative;
}


  #navbar-custom {
    height: 14px !important;
  }
  

  .navbar-nav{
    padding-top:0px !important; 
    padding-bottom:0px !important;
    min-height:2px !important;
    color: rgb(245, 239, 239)!important;
  }
  .margin{
    margin-left: 130px;
    margin-right: 130px;

}
.img-thumb{
float: :left;
overflow:hidden;
position: relative;
}

.logo{
   color: rgb(14, 233, 6);
    margin-right: 1.5em
   
}

}
.box-shadow {
    float: left;
    box-shadow: 10px 10px 28px #666666;
    
  }

  .drop-shadow {
    float: right;
    float: left;
  }
  .drop-shadow img {
  
    filter: drop-shadow(8px 8px 8px #666666);
    -webkit-filter: drop-shadow(8px 8px 8px #666666);
  }

 .footer-Content {
  background-color: #24324a;
  padding: 60px 0;
  color: #8a99b3;
}

.btn12 {
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 30px;
  letter-spacing: 1px;
  font-weight: 400;
  color: rgb(14, 233, 6);
  border: none;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: inline-block;
}



.btn_search{
  border-radius: 30px;
  margin: 15px;
  padding: 8px 20px;
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 30px;
  letter-spacing: 1px;
  font-weight: 400;
  color: rgb(14, 233, 6);
  border: none;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: inline-block;
}
.btn_search {
  background-color: #4CAF50; Green
   /* border: none; */
  color:rgb(14, 233, 6);
  ;
  
    border-radius: 15px;
  
  
  font-size: 16px;

}

.btn-common {
  background: #26ae61;
  position: relative;
  z-index: 1;
}

.btn {
  font-size: 14px;
  
  padding: 10px 30px;
  border-radius: 30px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #e23b11;
  border: none;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: inline-block;
}



 .wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute;
  top: 0; 
  left: 0; */
}
.wrap::before {
  content: '';
    position: absolute;
    /* top: 0; */
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 30px;
    opacity: 0;
    transform: scale(0,0);
    z-index: -1;
    -webkit-transition: all .5s ease-out 0s;
    -moz-transition: all .5s ease-out 0s;
    -ms-transition: all .5s ease-out 0s;
    -o-transition: all .5s ease-out 0s;
    transition: all .5s ease-out 0s;
}
.button {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #26ae61;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 3px 15px rgba(80, 78, 78, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: #26ae61;
    color: #fff !important;
    box-shadow: 0 5px 11px 0 rgb(0 0 0 / 15%), 0 4px 15px 0 rgb(0 0 0 / 15%);
}
  /* transform: translateY(-7px); */
} 
.menu li a {
  color: #8a99b3;
  font-size: 14px;
}


.container8 {
  column-width: 300px;
  orphans: 3;
}
.margin9{
  margin-left: 130px;
  margin-right: 20px;

}
.btn-common {

}

.last{
  background-color: #26ae61;
  /* color: rgb(71, 219, 71); */
  text-align: center;
  flex: 50%;
  padding: 10px;
  height: 60px;


}
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}


/* Extra Things */
body{background: #eee ;font-family: 'Open Sans', sans-serif;}h3{font-size: 30px; font-weight: 400;text-align: center;margin-top: 50px;}h3 i{color: #444;}


.blue {
  color:blue
}
.sky {
  color:rgb(12, 200, 247)
}
.red {
  color:rgb(247, 40, 12)
}
.white {
  color:rgb(4, 126, 30)
}





#subscribe-form .form-group {
  position: relative;
}
.form-group {
  margin-bottom: 1rem;


}
.content2{
  /* content: "\a"; */
  white-space: pre;
  text-align: center;
}
.row {
  /* display: flex; */
}


.column {
  flex: 50%;
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}



.button23 {
  width: 190px;
  height: 75px;
 
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  /* color: #000; */
  background-color: #26ae61;

  
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }
  .center1{
    text-align: center;
  }


  .sh{


  }
 .round-button {
  width:2%;
}


.scroll-top {
  width: 75px;
  height: 75px;
  position: fixed;
  bottom: 25px;
  left: 20px;
  display: none;
  
}
.scroll-top i {
  display: inline-block;
  color: #FFFFFF;
}
.border{
border-radius: 50%;
background-color: #04AA6D; /* Green */
border: none;
color: white;
padding: 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}

.button_new {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #26ae61;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button_new:hover {
  background-color: #26ae61;
  box-shadow: 0px 15px 20px rgba(0, 10, 6, 0.4);
  color: #fff;
  transform: translateY(-7px);
} 


.btns-info {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: rgba(91, 192, 222, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(91, 192, 222, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}
.btns {
  margin-left: 10px;
  margin-right: 10px;
}
.btns-info:hover {
  color: #FFF;
  background: rgba(13, 13, 14, 0.75);
  border: 2px solid rgba(91, 192, 222, 0.75);
}

.owl-dots span:hover {
  background: #26ae61;
  /* white-space: pre !important; */
}
.owl-dots {
  /* white-space: pre !important; */
  /* display: block !important; */
  width: 12px !important;
  height: 12px !important;
  margin: 3px 4px !important;
  filter: alpha(opacity=50)!important;
  opacity: 1 ;
  border-radius: 30px !important;
  background: #fff !important;
  border: 2px solid #fff !important;
  box-shadow: 0 0 3px rgba(8, 8, 8, 0.55) !important;
  transition: all .4s ease-in-out !important;
  -moz-transition: all .4s ease-in-out !important;
  -webkit-transition: all .4s ease-in-out !important;
  -o-transition: all .4s ease-in-out !important;
}

.search {
  margin-left: 150px;
  margin-right: 1px;
}

.sections{
  margin-left: 130px;
  margin-right: 120px;
}